stages:
  - infrastructure
  - build
  - test
  - docs
#  - reports
#  - release

cache:
  key: "$CI_JOB_NAME-$CI_COMMIT_REF_NAME-$CI_JOB_STAGE-$CI_JOB_NAME"
  paths:
    - $HOME/.gradle

variables:
    JDK8_TEST_IMAGE: $CI_REGISTRY/asciidoctor/testing-lab/openjdk8-with-libxss:latest
    JDK11_TEST_IMAGE: $CI_REGISTRY/asciidoctor/testing-lab/openjdk11-with-libxss:latest
    JDK12_TEST_IMAGE: $CI_REGISTRY/asciidoctor/testing-lab/openjdk12-with-libxss:latest

testrepo:
  stage: infrastructure
  image: openjdk:8
  script: ./gradlew -i --console=plain --no-build-cache :testfixtures-offline-repo:buildOfflineRepositories
  artifacts:
    paths:
      - testfixtures/offline-repo/build/repo/
    expire_in: 90min
    when: always
  except:
    - pages
    - gh-pages
    - tags
  cache:
    key: "$CI_JOB_NAME-$CI_COMMIT_REF_NAME-$CI_JOB_STAGE-$CI_JOB_NAME"
    paths:
      - $HOME/.gradle
      - testfixtures/offline-repo/build/repo/

jdk8:
  stage: build
  image: openjdk:8
  script: ./gradlew -i -S --console=plain --no-build-cache assemble codenarcAll license
  artifacts:
    paths:
      - .gradle/
      - '*/build/'
    expire_in: 60min
    when: always
  except:
    - pages
    - gh-pages
    - tags

jdk11:
  stage: build
  image: openjdk:11
  script: ./gradlew -i -S --console=plain --no-build-cache assemble
  artifacts:
    paths:
      - .gradle/
      - '*/build/'
    expire_in: 60min
    when: always
  except:
    - pages
    - gh-pages
    - tags

jdk12:
  stage: build
  image: openjdk:12
  script: ./gradlew -i -S --console=plain --no-build-cache assemble
  artifacts:
    paths:
      - .gradle/
      - '*/build/'
    expire_in: 60min
    when: always
  except:
    - pages
    - gh-pages
    - tags

test:integration:
  stage: test
  image: $JDK8_TEST_IMAGE
#  image: openjdk:8
  except:
    - pages
    - gh-pages
    - tags
  dependencies:
    - testrepo
    - jdk8
  script: ./gradlew -i -s --console=plain --no-build-cache test intTest remoteTest -x asciidoctor-gradle-slides-export:intTest -x asciidoctor-gradle-jvm-slides:intTest
  artifacts:
    paths:
      - '*/build/reports'
      - '*/build/jacoco'
    expire_in: 10 days
    when: on_failure

test:integration_slides:
  stage: test
  image: $JDK8_TEST_IMAGE
  #  image: openjdk:8
  except:
    - pages
    - gh-pages
    - tags
  dependencies:
    - testrepo
    - jdk8
  script: ./gradlew -i -s --console=plain --no-build-cache test asciidoctor-gradle-jvm-slides:intTest asciidoctor-gradle-slides-export:intTest
  artifacts:
    paths:
      - '*/build/reports'
      - '*/build/jacoco'
    expire_in: 10 days
    when: on_failure

test:gradle_4.9,4.10.2:
  stage: test
  image: $JDK11_TEST_IMAGE
  except:
    - pages
    - gh-pages
    - tags
  dependencies:
    - testrepo
    - jdk11
  script: ./run-compatibility-test-on-ci.sh
  artifacts:
    paths:
      - '*/build/reports'
      - '*/build/jacoco'
    expire_in: 10 days
    when: on_failure

test:gradle_5.0,5.1.1,5.3.1:
  stage: test
  image: $JDK11_TEST_IMAGE
  except:
    - pages
    - gh-pages
    - tags
  dependencies:
    - testrepo
    - jdk11
  script: ./run-compatibility-test-on-ci.sh
  artifacts:
    paths:
      - '*/build/reports'
      - '*/build/jacoco'
    expire_in: 10 days
    when: on_failure

test:gradle_5.4.1,5.5.1,5.6.4:
  stage: test
  image: $JDK12_TEST_IMAGE
  except:
    - pages
    - gh-pages
    - tags
  dependencies:
    - testrepo
    - jdk11
  script: ./run-compatibility-test-on-ci.sh
  artifacts:
    paths:
      - '*/build/reports'
      - '*/build/jacoco'
    expire_in: 10 days
    when: on_failure

test:gradle_6.0.1:
  stage: test
  image: $JDK12_TEST_IMAGE
  except:
    - pages
    - gh-pages
    - tags
  dependencies:
    - testrepo
    - jdk11
  script: ./run-compatibility-test-on-ci.sh
  artifacts:
    paths:
      - '*/build/reports'
      - '*/build/jacoco'
    expire_in: 10 days
    when: on_failure

htmldocs:
  stage: docs
  image: openjdk:11
  dependencies:
    - testrepo
    - jdk11
  script: ./gradlew groovydoc && cd docs && ./gradlew --console=plain asciidoctor
  artifacts:
    paths:
      - '*/build/docs/combined'

#jacoco:
#  stage: reports
#  image: openjdk:11
#  dependencies:
#    - test:integration
#    - test:gradle_5.0,5.1.1
#  except:
#    - pages
#    - gh-pages
#    - tags
#  script: ./gradlew --console=plain jacocoRootReport coveralls

#publish:
#  stage: release
#  image: openjdk:8
#  script: ./gradlew -s -i --console=plain --no-build-cache installDocs publishPlugins gitPublishPush -i -Dgradle.publish.key=$GRADLE_PORTAL_KEY -Dgradle.publish.secret=$GRADLE_PORTAL_SECRET -Dorg.ajoberstar.grgit.auth.username=$PAGES_PUBLISH_USER -Dorg.ajoberstar.grgit.auth.password=$PAGES_PUBLISH_KEY -Dorg.ajoberstar.grgit.auth.force=hardcoded
#  dependencies:
#  - jdk8
#  only:
#  - release
#
#pages:
#  stage: release
#  script: ls -la
#  artifacts:
#    paths:
#    - public
#  only:
#  - pages

