TMP
build
out
.gradle
.idea
*.iml
*.ipr
*.iws
buildSrc/gradle/wrapper
buildSrc/gradlew*
.asciidoctor-module-versions.generated

# Because we auto-generate this from the main project
# and it is only needed for IntelliJ
docs/gradle/wrapper
docs/.asciidoctorconfig

